$text-color: #000000;
$text-color-light: #FFFFFF;
$font-family: verdana;

$a-color: #f3f3f3;
$background-category: #FAFAFA;

$main: #4CBBC6;
$secondary: #4588af;
$dark: #3E7588;
//$shadow: #103042;
$shadow: #3E7588;

$warning: #F9AE3F;
$error: #DE5050;
$success: #37BC64; 