@import "_variables.scss";

.login-block {
    /*width: 20%;*/
    height: 100%;
    //   top right bottom left
    margin-top: 8%;
    margin-left: 20%;
    margin-right: -8%;
    background-color: $secondary;
    color: $text-color-light;
    border: 1px solid black;
    border-radius: 10%;
    /*align-items: center;*/
}
.login-element{
    width: 100%;
    height: 30%;
}

.header-text-center{
    text-align: center;
}

a:link{
    color: $a-color;
}

a:hover, a:visited{
    color: $text-color-light;
    text-decoration: none;
}
